<nav>
  <div class="site-title">
    <a href="/">
      <h1>Let's BLOG</h1>
    </a>
    <p>Go Beyond The Thinking</p>
  </div>
  <ul class="nav-menu">
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <% if (currentUser) { %>
      <li><a href="/blogs/create">New Blog</a></li>
      <li><a href="/blogs/my">My Blogs</a></li>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <% } %>
  </ul>
</nav>

<!-- Username positioned further right -->
<% if (currentUser) { %>
  <div class="welcome-user">
    Welcome, <%= currentUsername %>!
  </div>
  <% } %>